@font-face {
    font-family: 'Plex_Mono';
    src: url('/Fonts/ibmplexmono-regular-webfont.woff') format('woff'),
         url('/Fonts/ibmplexmono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeueMachina_Medium';
    src: url('/Fonts/ppneuemachina-light-webfont.woff2') format('woff2'),
         url('/Fonts/ppneuemachina-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeueMachina_Regular';
    src: url('/Fonts/ppneuemachina-regular-webfont.woff2') format('woff2'),
         url('/Fonts/ppneuemachina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeueMachina_Bold';
    src: url('/Fonts/ppneuemachina-ultrabold-webfont.woff2') format('woff2'),
         url('/Fonts/ppneuemachina-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    background-color: #17161E;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
h1 {
    font-family: 'NeueMachina_Bold', sans-serif;
    font-weight: 700;
    font-size: 5.625em;
    line-height: 120%;
    color: #ffffff;
}
h2 {
    font-family: 'NeueMachina_Bold', sans-serif;
    font-weight: 700;
    font-size: 4em;
    line-height: 120%;
    color: #ffffff;
}
h3 {
    font-family: 'NeueMachina_Regular', sans-serif;
    font-weight: 500;
    font-size: 2em;
    line-height: 120%;
    color: #ffffff;
}
.text-large {
    font-family: 'NeueMachina_Medium', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 140%;
    color: #ffffff;
}
.text-regular {
    font-family: 'Plex_Mono', sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 140%;
    color: #ffffff;
}
.text-small {
    font-family: 'Plex_Mono', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;
    color: #ffffff;
}
@keyframes rotated_logo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header {
    top: 30px;
    left: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
}

.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.header_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header_menu nav ul li {
    position: relative;
}
.header_menu nav ul li a {
    padding: 0px 10px;
    color: #838383;
    display: block;
}
.header_menu nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    background-color: #17161E;
    padding-inline-start: 0;
    line-height: 200%;
    width: 150%;
}
.header_menu nav ul li:hover > ul {
    display: block;
}
.header_menu nav ul li a:hover {
    color: #ffffff;
}

.caption {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #E3FE0F1A;
    padding: 5px 25px;
    width: auto;
    height: auto;
}

.logo_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1720px;
}
.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 24.006668090820312px; 
    height: 28px;
    gap: 5px;
}
.HexaCore {
    width: 144.04000854492188px;
    height: 21px;
    top: 3.55px;
    left: 35.96px;
}
.nav_links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}
.nav_links li {
    position: relative;
}
.nav_links li a {
    padding: 0px 10px;
    color: #838383;
    display: block;
}
.nav_links li a:hover {
    color: #ffffff;
}

.vector {
    margin-left: 12px;
    font-weight: bold;
    color: #fff;
    top: 9.43px;
    left: 164.26px;
}
.vector a {
    color: #ffffff;
    text-decoration: none;
}

header nav ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}
header nav ul li a {
    padding: 0px 25px;
    color: #838383;
    display: block;
}
header nav ul li a:hover {
    color: #ffffff;
}
nav ul li ul {
    display: none;
    position: absolute;
    left: 0;
    background-color: #17161E;
    padding-inline-start: 0;
    line-height: 200%;
    width: 150%;
}
nav ul li:hover > ul {
    display: block;
}

.dapp_button {
    color: #E3FE0F;
    border: 1px solid #E3FE0F;
    padding: 8px 37px;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
}
.dapp_button:hover {
    background: #E3FE0F;
    box-shadow: 0px 4px 25px 0px #E3FE0F80;
    border: 1px solid #E3FE0F;
    color: #17161E;
}
.dapp_button:active {
    box-shadow: 0px 4px 4px 0px #17161E66 inset;
}

.main_logo {
    flex: 1;
    width: 1100px;
}
.main_logo p {
    color: #ffffff;
}
.main_logo img {
    transform: translate(-50%, 100px);
    border-radius: 50%;
    animation: rotated_logo 40s linear infinite;
}
.main_logo span {
    color: #E3FE0F;
}

.highlight {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.highlight::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 310px;
    height: 30px;
    background: url('/Img/img-Main/Волна.svg') no-repeat center;
    background-size: contain;
}

.main_p {
    margin-top: 20px;
    bottom: 20px;
}

.button_main {
    display: flex;
    width: 1100px;
    margin-top: 51px;
    gap: 20px;
}

.button_main_view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 41px;
    text-align: start;
    width: 270px;
    background-color: #E3FE0F;
    color: black;
    border: 1px solid #E3FE0F;
    border-radius: 15px;
    cursor: pointer;
}
.button_main_view:hover {
    background: #E3FE0F;
    box-shadow: 0px 4px 25px 0px #E3FE0F80;
    border: 1px solid #E3FE0F;
    color: #17161E;
}
.button_main_view:active {
    box-shadow: 0px 4px 4px 0px #17161E66 inset;
}

.button_main_buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 41px;
    text-align: start;
    height: 70px;
    width: 270px;
    background-color: #17161E;
    color: #ffffff;
    border: 0.1px solid #ffffff;
    border-radius: 15px;
    cursor: pointer;
}

.button_main_buy:hover {
    background: #E3FE0F;
    box-shadow: 0px 4px 25px 0px #E3FE0F80;
    border: 1px solid #E3FE0F;
    color: #17161E;
}

.button_main_buy:active {
    box-shadow: 0px 4px 4px 0px #17161E66 inset;
}

.usd_wrap {
    display: flex;
    gap: 62px;
}

.text_USD {
    display: flex;
    align-items: center;
    width: 183px;
    height: 49px;
    margin-top: 147px;
}

.text_USD span {
    color: #838383;
    font-size: 16px;
}

.img_Chart {
    flex: 1;
    display: flex;
}

.Advantages {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    width: 1720px;
    max-height: 745px;
    margin-top: 50px;
    height: fit-content;
}

.Advantages h2 {
    text-align: start;
    margin-top: 100px;
}

.advantage-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.block {
    display: flex;
    flex-direction: column;
    width: 32%;
    box-shadow: 0 0 10px 0 #3030308e;
    border-radius: 15px;
    padding: 15px;
    margin-top: 40px;
    color: #17161E;
    background-color: #E3FE0F;
    height: fit-content;
}

.block p {
    background-color: #E3FE0F;
    color: #17161E;
    margin: 20px;
    margin-bottom: 20px;
}

.block h3 {
    background-color: #E3FE0F;
    color: #17161E;
    margin: 20px;
}

.block_black {
    background-color: #17161E;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.block_black h3 {
    color: #fff;
    background-color: #17161E;
    margin: 20px;
}

.block_black p {
    margin: 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #17161E;
}

.roadmap-section {
    max-width: 1800px;
    margin-top: 250px;
    padding: 20px 0;
    clear: both;
}

.roadmap-section h2 {
    max-width: 500px;
}

.roadmap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1720px;
    margin-bottom: 200px;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 50px;
    max-width: 335px;
    max-height: 330px;
}

.card p {
    color: #ffffff;
}

.number {
    display: inline-flex;
    width: 125px;
    height: 125px;
    gap: 10px;
    border-radius: 100px;
    padding: 45px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #17161E;
    font-size: 50px;
    font-weight: 700;
    font-family: 'NeueMachina_Bold', serif;
}

.main_section {
    display: grid;
}

.info-container {
    max-width: 1035px;
    margin: 0 auto;
    padding: 20px;
}

.info-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 123px;
    margin-bottom: 20px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17161E;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
    width: 507px;
    height: 77px;
}

.label {
    color: #ffffff;
    font-weight: bold;
}

.value {
    background-color: #E3FE0F;
    color: #17161E;
    padding: 30px;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    height: 77px;
    width: 245px;
}

.start {
    display: flex;
    width: 779px;
    height: 338px;
}

.start_text {
    display: flex;
    width: 620px;
}

.main_logo h1 {
    margin: 0;
}

.button_main_get_stated {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
    height: 80px;
    width: 350px;
    background-color: #E3FE0F;
    color: #17161E;
    border-radius: 15px;
    cursor: pointer;
    margin-top: -120px;
}

.button_main_get_stated:hover {
    background: #E3FE0F;
    box-shadow: 0px 4px 25px 0px #E3FE0F80;
    border: 1px solid #E3FE0F;
    color: #17161E;
}

.button_main_get_stated:active {
    box-shadow: 0px 4px 4px 0px #17161E66 inset;
}

.logo_start {
    display: inline-flex;
    margin-top: 100px;
    max-width: 1719px;
    max-height: 620px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    width: 1720px;
    height: 199px;
}

.intermediate_text {
    text-align: left;
}

.intermediate_text span {
    color: #E3FE0F;
}

.form-container {
    max-width: 1041px;
    margin: 50px auto;
    padding: 0 20px;
}

.form-container p {
    display: flex;
    text-align: left;
    font-size: 16px;
    font-family: Plex_Mono, sans-serif;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 200px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #17161E;
    border: 1px solid #ffffff;
    border-radius: 15px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    font-family: Plex_Mono, sans-serif;
    box-sizing: border-box;
}

input[type="text_2"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 30px 100px 30px;
    background-color: #17161E;
    border: 1px solid #ffffff;
    border-radius: 15px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    font-family: Plex_Mono, sans-serif;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #17161E;
    border: 1px solid #ffffff;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: Plex_Mono, sans-serif;
    box-sizing: border-box;
    resize: vertical;
}

.submit-btn {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #E3FE0F;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out;
}

.submit-btn:hover {
    background-color: #E3FE0F;
    box-shadow: 0px 4px 25px 0px #E3FE0F80;
    border: 1px solid #E3FE0F;
    color: #17161E;
}

.submit-btn:active::after {
    box-shadow: 0px 4px 4px 0px #17161E66 inset;
}

.disclaimer {
    margin-top: 15px;
    font-size: 12px;
    color: #999;
    line-height: 1.4;
    text-align: center;
}

input::placeholder,
textarea::placeholder {
    color: #ffffff;
    opacity: 1;
}